{{#*inline "head"}}
<title>{{title}}</title>
{{/inline}}
{{#*inline "body"}}
<h1>{{ title }} search results</h1>

<div>
  {{#each mangas}}
  <div style="clear: both">
    <img style="float: right" height="200px" src="{{ ../api_base }}{{ thumbnailUrl }}" />
    <h2><a href="/manga/{{ id }}">{{ title }}</a></h2>
    <p>{{ description }}</p>
    <ul class="genres">
      {{#each genre}}
      <li>{{ this }}</li>
      {{/each}}
    </ul>
  </div>
  {{/each}}
</div>
{{/inline}}
{{> (lookup this "parent")}}